TELEGRAM_BOT_TOKEN=
BOT_ADMIN_USER_IDS=

BOT_YTDLP_AUTO_INSTALL=true
BOT_SKIP_OLD_UPDATES=true
BOT_POLL_TIMEOUT_SECONDS=30
BOT_DOWNLOAD_TIMEOUT_SECONDS=120
BOT_SEARCH_TIMEOUT_SECONDS=15
BOT_RETRY_COUNT=1
BOT_USER_COOLDOWN_SECONDS=3
BOT_CACHE_TTL_SECONDS=600
BOT_QUERY_MIN_LENGTH=3
BOT_QUERY_MAX_LENGTH=100
BOT_RESULT_LIMIT=10
